<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    let res = {
      "code": 200,
      "msg": null,
      "data": {
        "monthtMap": {
          "201301": {
            "outtotal": 2,
            "outmoney": 1000000.00,
            "intotal": 1,
            "inmoney": 1000000.00
          },
          "201302": {
            "outtotal": 2,
            "outmoney": 2200000.00,
            "intotal": 2,
            "inmoney": 2200000.00
          },
          "201303": {
            "outtotal": 1,
            "outmoney": 16800.00,
            "intotal": 2,
            "inmoney": 17025.65
          },
          "201304": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201305": {
            "outtotal": 6,
            "outmoney": 80000.00,
            "intotal": 3,
            "inmoney": 130000.00
          },
          "201306": {
            "outtotal": 6,
            "outmoney": 115800.00,
            "intotal": 2,
            "inmoney": 65642.00
          },
          "201307": {
            "outtotal": 1,
            "outmoney": 725000.00,
            "intotal": 2,
            "inmoney": 725000.00
          },
          "201308": {
            "outtotal": 1,
            "outmoney": 74.87,
            "intotal": 0,
            "inmoney": 0
          },
          "201309": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 1,
            "inmoney": 0.05
          },
          "201310": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201311": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201312": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201401": {
            "outtotal": 3,
            "outmoney": 2000010.05,
            "intotal": 2,
            "inmoney": 2000010.00
          },
          "201402": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201403": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201404": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201405": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201406": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201407": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201408": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201409": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201410": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201411": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201412": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201501": {
            "outtotal": 4,
            "outmoney": 2117066.70,
            "intotal": 4,
            "inmoney": 2117066.70
          },
          "201502": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201503": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 1,
            "inmoney": 1.17
          },
          "201504": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201505": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201506": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201507": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201508": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201509": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201510": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201511": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201512": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 5,
            "inmoney": 6000.54
          },
          "201601": {
            "outtotal": 14,
            "outmoney": 5543.80,
            "intotal": 0,
            "inmoney": 0
          },
          "201602": {
            "outtotal": 2,
            "outmoney": 360.00,
            "intotal": 2,
            "inmoney": 5400.00
          },
          "201603": {
            "outtotal": 4,
            "outmoney": 310.00,
            "intotal": 2,
            "inmoney": 5.18
          },
          "201604": {
            "outtotal": 13,
            "outmoney": 1714.80,
            "intotal": 0,
            "inmoney": 0
          },
          "201605": {
            "outtotal": 20,
            "outmoney": 3014.60,
            "intotal": 0,
            "inmoney": 0
          },
          "201606": {
            "outtotal": 1,
            "outmoney": 200000.00,
            "intotal": 3,
            "inmoney": 200002.28
          },
          "201607": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201608": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201609": {
            "outtotal": 5,
            "outmoney": 674844.65,
            "intotal": 5,
            "inmoney": 674843.50
          },
          "201610": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201611": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201612": {
            "outtotal": 2,
            "outmoney": 400000.00,
            "intotal": 5,
            "inmoney": 400006.06
          },
          "201701": {
            "outtotal": 1,
            "outmoney": 1600000.00,
            "intotal": 1,
            "inmoney": 1600000.00
          },
          "201702": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201703": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 4,
            "inmoney": 0.04
          },
          "201704": {
            "outtotal": 1,
            "outmoney": 43200.00,
            "intotal": 1,
            "inmoney": 43200.00
          },
          "201705": {
            "outtotal": 2,
            "outmoney": 530000.00,
            "intotal": 4,
            "inmoney": 532000.00
          },
          "201706": {
            "outtotal": 2,
            "outmoney": 1096656.04,
            "intotal": 5,
            "inmoney": 1096679.53
          },
          "201707": {
            "outtotal": 2,
            "outmoney": 1260028.00,
            "intotal": 2,
            "inmoney": 1260000.00
          },
          "201708": {
            "outtotal": 1,
            "outmoney": 373289.39,
            "intotal": 2,
            "inmoney": 373306.41
          },
          "201709": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 3,
            "inmoney": 2.19
          },
          "201710": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 1,
            "inmoney": 6667.00
          },
          "201711": {
            "outtotal": 1,
            "outmoney": 16684.44,
            "intotal": 2,
            "inmoney": 10001.31
          },
          "201712": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 3,
            "inmoney": 2.28
          },
          "201801": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201802": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201803": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 1,
            "inmoney": 1.06
          },
          "201804": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "201805": {
            "outtotal": 2,
            "outmoney": 2025.44,
            "intotal": 0,
            "inmoney": 0
          },
          "201806": {
            "outtotal": 19,
            "outmoney": 1120838.11,
            "intotal": 14,
            "inmoney": 1134967.59
          },
          "201807": {
            "outtotal": 55,
            "outmoney": 20362608.00,
            "intotal": 48,
            "inmoney": 20348554.04
          },
          "201808": {
            "outtotal": 138,
            "outmoney": 6594881.78,
            "intotal": 125,
            "inmoney": 6900682.49
          },
          "201809": {
            "outtotal": 51,
            "outmoney": 11631532.27,
            "intotal": 31,
            "inmoney": 11625989.28
          },
          "201810": {
            "outtotal": 26,
            "outmoney": 1314324.00,
            "intotal": 12,
            "inmoney": 1505786.00
          },
          "201811": {
            "outtotal": 41,
            "outmoney": 5562273.59,
            "intotal": 23,
            "inmoney": 5406939.90
          },
          "201812": {
            "outtotal": 15,
            "outmoney": 503430.61,
            "intotal": 15,
            "inmoney": 467048.36
          },
          "201901": {
            "outtotal": 13,
            "outmoney": 2057333.36,
            "intotal": 10,
            "inmoney": 2057333.17
          },
          "201902": {
            "outtotal": 13,
            "outmoney": 1265768.40,
            "intotal": 10,
            "inmoney": 1266857.80
          },
          "201903": {
            "outtotal": 3,
            "outmoney": 219501.17,
            "intotal": 5,
            "inmoney": 219000.63
          },
          "201904": {
            "outtotal": 2,
            "outmoney": 30816.67,
            "intotal": 3,
            "inmoney": 30300.29
          },
          "201905": {
            "outtotal": 9,
            "outmoney": 2004523.33,
            "intotal": 7,
            "inmoney": 2005248.13
          },
          "201906": {
            "outtotal": 7,
            "outmoney": 2681327.21,
            "intotal": 8,
            "inmoney": 2679850.82
          },
          "201907": {
            "outtotal": 15,
            "outmoney": 620732.77,
            "intotal": 12,
            "inmoney": 621006.03
          },
          "201908": {
            "outtotal": 10,
            "outmoney": 5313231.67,
            "intotal": 5,
            "inmoney": 5313000.00
          },
          "201909": {
            "outtotal": 8,
            "outmoney": 5989966.67,
            "intotal": 5,
            "inmoney": 5990000.07
          },
          "201910": {
            "outtotal": 3,
            "outmoney": 2029000.00,
            "intotal": 3,
            "inmoney": 2029000.28
          },
          "201911": {
            "outtotal": 6,
            "outmoney": 4030933.33,
            "intotal": 4,
            "inmoney": 4030837.25
          },
          "201912": {
            "outtotal": 3,
            "outmoney": 44000.31,
            "intotal": 4,
            "inmoney": 44000.32
          },
          "202001": {
            "outtotal": 1,
            "outmoney": 29966.67,
            "intotal": 1,
            "inmoney": 29966.67
          },
          "202002": {
            "outtotal": 4,
            "outmoney": 2229966.67,
            "intotal": 4,
            "inmoney": 2229966.67
          },
          "202003": {
            "outtotal": 4,
            "outmoney": 1778033.33,
            "intotal": 5,
            "inmoney": 1778033.38
          },
          "202004": {
            "outtotal": 1,
            "outmoney": 29966.67,
            "intotal": 1,
            "inmoney": 29966.67
          },
          "202005": {
            "outtotal": 4,
            "outmoney": 4029966.67,
            "intotal": 3,
            "inmoney": 4029966.67
          },
          "202006": {
            "outtotal": 1,
            "outmoney": 29966.67,
            "intotal": 2,
            "inmoney": 29966.72
          },
          "202007": {
            "outtotal": 10,
            "outmoney": 1329001.15,
            "intotal": 8,
            "inmoney": 1329001.15
          },
          "202008": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "202009": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "202010": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "202011": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "202012": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "X": [
            201301,
            201302,
            201303,
            201304,
            201305,
            201306,
            201307,
            201308,
            201309,
            201310,
            201311,
            201312,
            201401,
            201402,
            201403,
            201404,
            201405,
            201406,
            201407,
            201408,
            201409,
            201410,
            201411,
            201412,
            201501,
            201502,
            201503,
            201504,
            201505,
            201506,
            201507,
            201508,
            201509,
            201510,
            201511,
            201512,
            201601,
            201602,
            201603,
            201604,
            201605,
            201606,
            201607,
            201608,
            201609,
            201610,
            201611,
            201612,
            201701,
            201702,
            201703,
            201704,
            201705,
            201706,
            201707,
            201708,
            201709,
            201710,
            201711,
            201712,
            201801,
            201802,
            201803,
            201804,
            201805,
            201806,
            201807,
            201808,
            201809,
            201810,
            201811,
            201812,
            201901,
            201902,
            201903,
            201904,
            201905,
            201906,
            201907,
            201908,
            201909,
            201910,
            201911,
            201912,
            202001,
            202002,
            202003,
            202004,
            202005,
            202006,
            202007,
            202008,
            202009,
            202010,
            202011,
            202012
          ]
        },
        "hourMap": {
          "00": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 76,
            "inmoney": 172.61
          },
          "01": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 57,
            "inmoney": 350.29
          },
          "02": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "03": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "04": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "05": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "06": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 0,
            "inmoney": 0
          },
          "07": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 1,
            "inmoney": 43200.00
          },
          "08": {
            "outtotal": 28,
            "outmoney": 1714597.13,
            "intotal": 17,
            "inmoney": 2802232.40
          },
          "09": {
            "outtotal": 101,
            "outmoney": 13554062.32,
            "intotal": 30,
            "inmoney": 8238901.69
          },
          "10": {
            "outtotal": 54,
            "outmoney": 11761733.73,
            "intotal": 22,
            "inmoney": 7771849.50
          },
          "11": {
            "outtotal": 32,
            "outmoney": 1550728.18,
            "intotal": 10,
            "inmoney": 1956111.00
          },
          "12": {
            "outtotal": 6,
            "outmoney": 2565044.00,
            "intotal": 7,
            "inmoney": 2996974.92
          },
          "13": {
            "outtotal": 28,
            "outmoney": 1411954.60,
            "intotal": 5,
            "inmoney": 312744.00
          },
          "14": {
            "outtotal": 31,
            "outmoney": 4503285.26,
            "intotal": 19,
            "inmoney": 8531739.70
          },
          "15": {
            "outtotal": 67,
            "outmoney": 10597011.00,
            "intotal": 26,
            "inmoney": 14533431.00
          },
          "16": {
            "outtotal": 58,
            "outmoney": 22591171.02,
            "intotal": 26,
            "inmoney": 22049828.04
          },
          "17": {
            "outtotal": 32,
            "outmoney": 1063119.60,
            "intotal": 92,
            "inmoney": 7327367.43
          },
          "18": {
            "outtotal": 104,
            "outmoney": 11154607.02,
            "intotal": 27,
            "inmoney": 11110000.00
          },
          "19": {
            "outtotal": 5,
            "outmoney": 5000000.00,
            "intotal": 2,
            "inmoney": 121000.00
          },
          "20": {
            "outtotal": 9,
            "outmoney": 6829000.00,
            "intotal": 14,
            "inmoney": 9600000.00
          },
          "21": {
            "outtotal": 6,
            "outmoney": 3000000.00,
            "intotal": 4,
            "inmoney": 200000.00
          },
          "22": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 2,
            "inmoney": 0.94
          },
          "23": {
            "outtotal": 0,
            "outmoney": 0,
            "intotal": 2,
            "inmoney": 229.81
          },
          "X": [
            "00",
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23"
          ]
        }
      }
    }

    function filterData(type, res) {
      let outtotal = []
      let outmoney = []
      let intotal = []
      let inmoney = []
      if (type === 'month') {
        for (let key in res.data.monthtMap) {
          outtotal.push(res.data.monthtMap[key].outtotal)
          outmoney.push(res.data.monthtMap[key].outmoney)
          intotal.push(res.data.monthtMap[key].intotal)
          inmoney.push(res.data.monthtMap[key].inmoney)
        }
      } else {
        for (let key in res.data.hourMap) {
          outtotal.push(res.data.hourMap[key].outtotal)
          outmoney.push(res.data.hourMap[key].outmoney)
          intotal.push(res.data.hourMap[key].intotal)
          inmoney.push(res.data.hourMap[key].inmoney)
        }
      }
      return {
        outtotal,
        outmoney,
        intotal,
        inmoney
      }
    }

    let monthMapData = filterData('month', res)
    console.log(monthMapData)
  </script>
</body>

</html>